.row
  .span3
    %h3{:style => "margin-top: 0px"} Users
    - if can? :manage, current_user.current_organization
      = link_to "Invite User", "#userForm", 'data-toggle' => 'modal', :class => 'btn'
  .span9
    %ul#memberships.detailed-list.row-fluid
      - organization.users.each do |user|
        %li.row-fluid
          .span2
            = gravatar_image_tag(user.email, :alt => 'User icon', :class => 'user-grav bordered', :gravatar => { :size => 48 })
          .span9
            .email= truncate(user.email)
            .remove
              - if user == current_user.current_organization.owner
                Organization Administrator
              - elsif can? :manage, current_user.current_organization
                = link_to "Remove", organization_user_membership_path(@organization, user.membership_in(organization)), :method => :delete

    #userForm.modal
      = form_tag organization_user_memberships_path(@organization.id), :action => "create" do
        .modal-header
          .close{'data-dismiss'=>'modal'} x
          %h3 Add A User To Your Organization
        .modal-body
          %p
            Enter the user's email address below.  The user will receive an email with a link to join Artful.ly and set his or her password.
          = text_field_tag :user_email, "", :placeholder => "Enter an email address..."
        .modal-footer
          = submit_tag "Add", :class => 'btn'