%h1 Exchange Confirmation

%h3 Order number: #{@order.id}
%h3 Exchange Date: #{l(@order.created_at_local_to_organization)}

%p Here are your new tickets:

- unless @order.tickets.empty?
  - @order.ticket_summary.rows.each do |row|
    %p
      %h4=row.show.event.name
      =l row.show.datetime_local_to_event, :format => :long_with_day
      %br
      -unless row.show.event.contact_email.blank?
        ="Event contact email: #{row.show.event.contact_email}"
        %br
      -unless row.show.event.contact_phone.blank?
        ="Event contact phone: #{row.show.event.contact_phone}"
        %br
    -row.ticket_type_hash.each do |ticket_type, tickets|
      %ul.ticket-list
        -tickets.each do |ticket|
          %li
            %span.price= "#{ticket.ticket_type.name}: $#{format("%.2f", (ticket.sold_price/100.0))}"
        %li{:style => 'list-style-type:none'}=ticket_type.description
        

    =link_to image_tag("https://maps.google.com/maps/api/staticmap?size=240x140&maptype=roadmap&markers=color:red|#{row.show.event.venue.address_as_url_query}&sensor=false&zoom=15"), "https://maps.google.com/maps?q=#{row.show.event.venue.address_as_url_query.html_safe}&z=15"
    %div
      %strong=row.show.event.venue.name
    %div=row.show.event.venue.address1
    -unless row.show.event.venue.address2.blank?
      %div=row.show.event.venue.address2
    %div=row.show.event.venue.city_state_zip_as_string